
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  display: flex;
  flex: 1;
}

article {
  flex: 1;
}

nav,
aside {
  /* 12em is the width of the side columns */
  flex: 0 0 12em;
}

/* Add Colors and spacing to make it look like the picture */
body {
  padding: 0;
  margin: 0;
}
header,
nav,
article,
aside,
footer {
  padding: 5px;
}
header {
  background-color: #ff8200;
}
nav {
  background-color: #7fc78e;
}
article {
  background-color: #ffa9c0;
}
aside {
  background-color: #ffe200;
}
footer {
  background-color: #f48d76;
}


